################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Project3/FileContentIndex
/.vs/Project3/v17/.wsuo
/.vs
